<h1>Readers Login</h1>
<% if flash[:alert] %>
 <p id="notice" ><%= flash[:alert] %></p>
<% end %>
<%= form_tag do %>
<div>
<%= label_tag :email, 'Email:' %>
<%= text_field_tag :email, params[:email] %>
 </div>
<div>
<%= label_tag :password, 'Password:' %>
<%= password_field_tag :password, params[:password] %>
</div>
<div>
 <%= submit_tag "Login" %>
</div>
<% end %>


