<h1><%= @group.groupName %></h1>
<h2>Readers Login</h2>
<%= form_tag do %>
<div>
   Welcome &nbsp;&nbsp; <span class='author'> <%=@reader.readerName %> </span>
</div>
<br>
<div>
<%= label_tag :groupPassword, 'Group Password:' %>
<%= password_field_tag :groupPassword, params[:groupPassword] %>
</div>
<br>
<div>
 <%= submit_tag "Take me to my Group Reviews" %>
</div>
<% end %>


