<!--<div display_review > -->
<div class='reviews'>
<p>
<table   ><tr>
   <td width=30% bgcolor='#F5F5F5' >
   <% if review.bookcover  %> 
       <%= image_tag review.bookcover.url(:large)%></br>
   <% end %>
</td><td  bgcolor='#F5F5F5'>
    Reader :   <%= link_to review.reader.readerName, show_reader_path(:reader_id =>review.reader)%> </br>
    Title : <b> <%= review.title %> </b> <span class="author"> by  <%= review.author %> </span></br>
    Category : <%= review.category %>
    <b>  <%=  render 'reviews/shared_files/display_review_rating', rating: review.rating %></b>
</td></tr>
<tr><td colspan=2 bgcolor='#F5F5F5'>
     Review : <b> <%= review.comment %> </b>
 </td></tr>
</table>
</p>
</div>
