<div display_review >
<p>
    Reader :   <%= link_to review.reader, show_reader_path(:reader =>review.reader)%> 

</p>
<p>
    Title : <b> <%= review.title %> </b>
</p>
<p>
    Author : <b> <%= review.author %> </b>
</p>
<p>
    <b>  <%=  render 'reviews/shared_files/display_review_rating', rating: review.rating %></b> 
</p>
<p>
   <img src="<%= review.picture %>"/>
</p>
<p>
     Review : <b> <%= review.comment %> </b>
</p>
</div>
