<li>
  <%= group.groupName %> Created on: <%= group.created_at %>
  <br>
  <%= group.description %>
  <br>
  <%= group.picture %>
  <br>
  Email:  <%= group.email %>  Password: <%= group.password %>  
  <br>
  Group Password: <%= group.groupPassword %>
</li>
