
<h2>Editing : <%= @review.title %></h2>
<%= form_for @review, :url=>{:action=>'update'} do |f|%>  
  <% if @review.errors.any? %>
    <div class="field_with_errors">      
        The form contains <%= pluralize(@review.errors.count, "error") %>.
       <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li> <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div align="left">
  <p>
    Reader :  <%= @review.reader.readerName  %>
  </p> 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
   </p>
    <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
   </p>
   <p>
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
   </p>
    <%=  render 'reviews/shared_files/review_ratings', f: f %> 
   <p>    
     <%= f.label :comment %><br>
     <%= f.text_area :comment, size: "100x15" %>
   </p>
    <%= f.submit "Update" %>
 
</div>
<% end %>

