<h1> Our Reviews </h1>
<div align="center">
<div class="apple_pagination">
<%= will_paginate @reviews, :container => false %> 
</div>
<br>
<table class='list_table'>
 <tr>
     <th width=15%> Reader </th>
     <th> Book Cover</th>
     <th> Review </th>
     <th></th>
 </tr>
<% @reviews.each do |r| %>
  <tr>
    <td > <% if r.reader %>
               <%= link_to r.reader.readerName, show_reader_path(:reader_id =>r.reader)%> 
          <% end %>
    </td>
    <td align=center> <%= link_to image_tag(r.bookcover.url(:small), :alt=> r.title, class: 'list_image'),show_book_path(:title => r.title) %> </td>
    <td class='list_description'>
        <dl>
           <dt> <%= link_to r.title, show_book_path(:title => r.title)  %> by <%= r.author %> </dt>
           <dd> Rating :<b> <%= r.rating %></b> </dd>
           <dd> Category : <%= r.category %></dd>
           <dd> <%= r.comment.truncate(140) %> </dd>
          <dd float:right> <%= link_to 'More..', r %> </dd>
        </dl>
    </td>
     <td class='list_action'><br/>
        <% if r.reader == @reader  %>
           <%= link_to 'Edit', edit_review_path(r) %> <br/>
           <%= link_to 'Delete', r, method: :delete, data: {confirm: "You Sure ?"}  %>
        <% end %> 
     </td>
  </tr>
<% end %>
</table>
<div class="apple_pagination">
<%= will_paginate @reviews, :container => false  %> 
</div>

</div>

