<h1>List of Reviews </h1>
<div align="center">
<table class='list_table'>
 <tr>
     <th width=15%> Reader </th>
     <th> Image </th>
     <th> Review </th>
     <th></th>
 </tr>
<% @reviews.each do |r| %>
  <tr>
    <td > <% if r.reader %>
               <%= link_to r.reader.readerName, show_reader_path(:reader_id =>r.reader)%> 
          <% end %>
    </td>
    <td align=center> <%= link_to image_tag(r.picture, :alt=> r.title, class: 'list_image'),r %> </td>
    <td class='list_description'>
        <dl>
           <dt> <%= link_to r.title, r %> by <%= r.author %> </dt>
           <dd> Rating :<b> <%= r.rating %></b> </dd>
           <dd> <%= r.comment.truncate(140) %> </dd>
        </dl>
    </td>
     <td class='list_action'> <%= link_to 'Show', r %> <br/>
        <% if r.reader == @reader  %>
           <%= link_to 'Edit', edit_review_path(r) %> <br/>
           <%= link_to 'Delete', r, method: :delete, data: {confirm: "You Sure ?"}  %>
        <% end %> 
     </td>
  </tr>
<% end %>
</table>
</div>
