<% r1 = @reviews.first %>
<h2>
  List of Books written by <b><%= r1.author  %></b>
</h2>
<div class="apple_pagination">
<%= will_paginate @reviews, :container => false %> 
</div>

<% @reviews.each do |r| %>
<p>
    Title : <b> <%= r.title %> </b>
<br>
     <%= link_to image_tag(r.picture, :alt=> r.title, :width =>80,:height =>100), show_book_path(:title => r.title)%> 
</p>

<% end %>
<div class="apple_pagination">
<%= will_paginate @reviews, :container => false %> 
</div>

